<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Task List</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
</head>
<body>
    <h1 class="todo-h1 center">Task Tracker</h1>
    <section class="todo-center">
        <section class="todo-section">
            <h1 class="todo-h1">Pending to Complete</h1>
            <ul>
            <% todos.forEach( el => { %>
                <%if (!el.completed) { %>
                    <li class='todoItem todo-ul' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                        <span class='del'> Delete </span>
                    </li>
                <% } %>
            <% }) %>    
            </ul>
        </section>
        
        <section class="todo-section">
            <h1 class="todo-h1">Completed</h1>
            <ul>
            <% todos.forEach( el => { %>
                <%if (el.completed) { %>
                    <li class='todoItem todo-ul center' data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                        <span class='del'> Delete </span>
                    </li>
                <% } %>
            <% }) %>    
            </ul>

        </section>

    </section>
    <section class="center">
        <h2 class="todo-h2">Tasks left for <%= user.userName %>: <%= left %></h2>
        <h2 class="todo-h2">Tasks completed for <%= user.userName %>: <%= complete %></h2>
    </section>


    <secttion classs="center">
        <form class ="center" action="/todos/createTodo" method='POST'>
            <input type="text" placeholder="Enter Todo Item" name='todoItem'>
            <input type="submit">
        </form>
    </secttion>


    <a class="center" href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>